@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 400 700;
  src: url(fonts/Geist-Variable.woff2) format("woff2");
}

@font-face {
  font-family: Uncut Sans;
  font-style: normal;
  font-weight: 400 900;
  src: url(fonts/UncutSans-Variable.woff2) format("woff2");
}

body {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: Geist, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

.font-display {
  font-family: Uncut Sans, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.lg\:\!text-5xl {
  font-size: 1.25em !important;
  line-height: 1.05 !important;
}
