@font-face {
  font-family: KaTeX_AMS;
  font-style: normal;
  font-weight: 400;
  src: url(https://play.hyper.spacehttps://play.hyper.space/_next/static/media/KaTeX_AMS-Regular.a79f1c31.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/KaTeX_AMS-Regular.1608a09b.woff)
      format("woff"),
    url(https://play.hyper.space/_next/static/media/KaTeX_AMS-Regular.4aafdb68.ttf)
      format("truetype");
}
@font-face {
  font-family: KaTeX_Caligraphic;
  font-style: normal;
  font-weight: 700;
  src: url(https://play.hyper.space/_next/static/media/KaTeX_Caligraphic-Bold.ec17d132.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Caligraphic-Bold.b6770918.woff)
      format("woff"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Caligraphic-Bold.cce5b8ec.ttf)
      format("truetype");
}
@font-face {
  font-family: KaTeX_Caligraphic;
  font-style: normal;
  font-weight: 400;
  src: url(https://play.hyper.space/_next/static/media/KaTeX_Caligraphic-Regular.55fac258.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Caligraphic-Regular.dad44a7f.woff)
      format("woff"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Caligraphic-Regular.07ef19e7.ttf)
      format("truetype");
}
@font-face {
  font-family: KaTeX_Fraktur;
  font-style: normal;
  font-weight: 700;
  src: url(https://play.hyper.space/_next/static/media/KaTeX_Fraktur-Bold.d42a5579.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Fraktur-Bold.9f256b85.woff)
      format("woff"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Fraktur-Bold.b18f59e1.ttf)
      format("truetype");
}
@font-face {
  font-family: KaTeX_Fraktur;
  font-style: normal;
  font-weight: 400;
  src: url(https://play.hyper.space/_next/static/media/KaTeX_Fraktur-Regular.d3c882a6.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Fraktur-Regular.7c187121.woff)
      format("woff"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Fraktur-Regular.ed38e79f.ttf)
      format("truetype");
}
@font-face {
  font-family: KaTeX_Main;
  font-style: normal;
  font-weight: 700;
  src: url(https://play.hyper.space/_next/static/media/KaTeX_Main-Bold.c3fb5ac2.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Main-Bold.d181c465.woff)
      format("woff"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Main-Bold.b74a1a8b.ttf)
      format("truetype");
}
@font-face {
  font-family: KaTeX_Main;
  font-style: italic;
  font-weight: 700;
  src: url(https://play.hyper.space/_next/static/media/KaTeX_Main-BoldItalic.6f2bb1df.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Main-BoldItalic.e3f82f9d.woff)
      format("woff"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Main-BoldItalic.70d8b0a5.ttf)
      format("truetype");
}
@font-face {
  font-family: KaTeX_Main;
  font-style: italic;
  font-weight: 400;
  src: url(https://play.hyper.space/_next/static/media/KaTeX_Main-Italic.8916142b.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Main-Italic.9024d815.woff)
      format("woff"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Main-Italic.47373d1e.ttf)
      format("truetype");
}
@font-face {
  font-family: KaTeX_Main;
  font-style: normal;
  font-weight: 400;
  src: url(https://play.hyper.space/_next/static/media/KaTeX_Main-Regular.0462f03b.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Main-Regular.7f51fe03.woff)
      format("woff"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Main-Regular.b7f8fe9b.ttf)
      format("truetype");
}
@font-face {
  font-family: KaTeX_Math;
  font-style: italic;
  font-weight: 700;
  src: url(https://play.hyper.space/_next/static/media/KaTeX_Math-BoldItalic.572d331f.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Math-BoldItalic.f1035d8d.woff)
      format("woff"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Math-BoldItalic.a879cf83.ttf)
      format("truetype");
}
@font-face {
  font-family: KaTeX_Math;
  font-style: italic;
  font-weight: 400;
  src: url(https://play.hyper.space/_next/static/media/KaTeX_Math-Italic.f28c23ac.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Math-Italic.5295ba48.woff)
      format("woff"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Math-Italic.939bc644.ttf)
      format("truetype");
}
@font-face {
  font-family: "KaTeX_SansSerif";
  font-style: normal;
  font-weight: 700;
  src: url(https://play.hyper.space/_next/static/media/KaTeX_SansSerif-Bold.8c5b5494.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/KaTeX_SansSerif-Bold.bf59d231.woff)
      format("woff"),
    url(https://play.hyper.space/_next/static/media/KaTeX_SansSerif-Bold.94e1e8dc.ttf)
      format("truetype");
}
@font-face {
  font-family: "KaTeX_SansSerif";
  font-style: italic;
  font-weight: 400;
  src: url(https://play.hyper.space/_next/static/media/KaTeX_SansSerif-Italic.3b1e59b3.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/KaTeX_SansSerif-Italic.7c9bc82b.woff)
      format("woff"),
    url(https://play.hyper.space/_next/static/media/KaTeX_SansSerif-Italic.b4c20c84.ttf)
      format("truetype");
}
@font-face {
  font-family: "KaTeX_SansSerif";
  font-style: normal;
  font-weight: 400;
  src: url(https://play.hyper.space/_next/static/media/KaTeX_SansSerif-Regular.ba21ed5f.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/KaTeX_SansSerif-Regular.74048478.woff)
      format("woff"),
    url(https://play.hyper.space/_next/static/media/KaTeX_SansSerif-Regular.d4d7ba48.ttf)
      format("truetype");
}
@font-face {
  font-family: KaTeX_Script;
  font-style: normal;
  font-weight: 400;
  src: url(https://play.hyper.space/_next/static/media/KaTeX_Script-Regular.03e9641d.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Script-Regular.07505710.woff)
      format("woff"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Script-Regular.fe9cbbe1.ttf)
      format("truetype");
}
@font-face {
  font-family: KaTeX_Size1;
  font-style: normal;
  font-weight: 400;
  src: url(https://play.hyper.space/_next/static/media/KaTeX_Size1-Regular.eae34984.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Size1-Regular.e1e279cb.woff)
      format("woff"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Size1-Regular.fabc004a.ttf)
      format("truetype");
}
@font-face {
  font-family: KaTeX_Size2;
  font-style: normal;
  font-weight: 400;
  src: url(https://play.hyper.space/_next/static/media/KaTeX_Size2-Regular.5916a24f.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Size2-Regular.57727022.woff)
      format("woff"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Size2-Regular.d6b476ec.ttf)
      format("truetype");
}
@font-face {
  font-family: KaTeX_Size3;
  font-style: normal;
  font-weight: 400;
  src: url(https://play.hyper.space/_next/static/media/KaTeX_Size3-Regular.b4230e7e.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Size3-Regular.9acaf01c.woff)
      format("woff"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Size3-Regular.a144ef58.ttf)
      format("truetype");
}
@font-face {
  font-family: KaTeX_Size4;
  font-style: normal;
  font-weight: 400;
  src: url(https://play.hyper.space/_next/static/media/KaTeX_Size4-Regular.10d95fd3.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Size4-Regular.7a996c9d.woff)
      format("woff"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Size4-Regular.fbccdabe.ttf)
      format("truetype");
}
@font-face {
  font-family: KaTeX_Typewriter;
  font-style: normal;
  font-weight: 400;
  src: url(https://play.hyper.space/_next/static/media/KaTeX_Typewriter-Regular.a8709e36.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Typewriter-Regular.6258592b.woff)
      format("woff"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Typewriter-Regular.d97aaf4a.ttf)
      format("truetype");
}
@font-face {
  font-family: Days One;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://play.hyper.space/_next/static/media/days-one-latin-400-normal.1948e523.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/days-one-latin-400-normal.28ba73e4.woff)
      format("woff");
}
@font-face {
  font-family: Space Mono;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://play.hyper.space/_next/static/media/space-mono-latin-400-normal.6ead2020.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/space-mono-latin-400-normal.bf6cbbc4.woff)
      format("woff");
}
@font-face {
  font-family: Space Mono;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://play.hyper.space/_next/static/media/space-mono-latin-700-normal.038803e4.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/space-mono-latin-700-normal.44d1f4b5.woff)
      format("woff");
}
@font-face {
  font-family: Inter Display;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/InterDisplay-Thin.0ba8e807.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter Display;
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/InterDisplay-ThinItalic.b7345a72.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter Display;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/InterDisplay-ExtraLight.a017581e.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter Display;
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/InterDisplay-ExtraLightItalic.74a69601.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter Display;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/InterDisplay-Light.9042b07e.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter Display;
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/InterDisplay-LightItalic.18bc9f1c.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter Display;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/InterDisplay-Regular.1e47cc70.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter Display;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/InterDisplay-Italic.5cd3a292.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter Display;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/InterDisplay-Medium.5a9db70e.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter Display;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/InterDisplay-MediumItalic.6dcf3f29.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter Display;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/InterDisplay-SemiBold.d938fffb.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter Display;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/InterDisplay-SemiBoldItalic.b25564dc.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter Display;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/InterDisplay-Bold.e11ef446.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter Display;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/InterDisplay-BoldItalic.6d6bbb7f.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter Display;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/InterDisplay-ExtraBold.c62c69d9.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter Display;
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/InterDisplay-ExtraBoldItalic.63fe3fdd.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter Display;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/InterDisplay-Black.c947c899.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter Display;
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/InterDisplay-BlackItalic.b3b8f336.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/Inter-Thin.a9bd55be.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/Inter-ThinItalic.07713e8c.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/Inter-ExtraLight.80c327c5.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/Inter-ExtraLightItalic.189d3d69.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/Inter-Light.2a7cd067.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/Inter-LightItalic.b600032e.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/Inter-Regular.d080ae18.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/Inter-Italic.0c8fa6f6.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/Inter-Medium.242d04be.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/Inter-MediumItalic.792bf8e5.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/Inter-SemiBold.cac2ba46.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/Inter-SemiBoldItalic.c2b059d8.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/Inter-Bold.11d5bc9f.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/Inter-BoldItalic.0110b6a0.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/Inter-ExtraBold.969298c8.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/Inter-ExtraBoldItalic.66e3fe64.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/Inter-Black.3a20fb7d.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/Inter-BlackItalic.01ea7961.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter Variable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/InterVariable.ff710c09.woff2)
    format("woff2");
}
@font-face {
  font-family: Inter Variable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://play.hyper.space/_next/static/media/InterVariable-Italic.ef0ecaff.woff2)
    format("woff2");
}
@font-face {
  font-family: Marat Sans;
  src: url(https://play.hyper.space/_next/static/media/MaratSans-Thin.d3c7c833.otf)
    format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Marat Sans;
  src: url(https://play.hyper.space/_next/static/media/MaratSans-ThinItalic.c4059d97.otf)
    format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Marat Sans;
  src: url(https://play.hyper.space/_next/static/media/MaratSans-ExtraLight.9cf61b1f.otf)
    format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Marat Sans;
  src: url(https://play.hyper.space/_next/static/media/MaratSans-ExtraLightItalic.7df17d94.otf)
    format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Marat Sans;
  src: url(https://play.hyper.space/_next/static/media/MaratSans-Light.3ad37d89.otf)
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Marat Sans;
  src: url(https://play.hyper.space/_next/static/media/MaratSans-LightItalic.1f9bd487.otf)
    format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Marat Sans;
  src: url(https://play.hyper.space/_next/static/media/MaratSans-Regular.82f7dee4.otf)
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Marat Sans;
  src: url(https://play.hyper.space/_next/static/media/MaratSans-Italic.ecde477c.otf)
    format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Marat Sans;
  src: url(https://play.hyper.space/_next/static/media/MaratSans-Medium.acc7eadd.otf)
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Marat Sans;
  src: url(https://play.hyper.space/_next/static/media/MaratSans-MediumItalic.d4f95b6c.otf)
    format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Marat Sans;
  src: url(https://play.hyper.space/_next/static/media/MaratSans-DemiBold.ac152458.otf)
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Marat Sans;
  src: url(https://play.hyper.space/_next/static/media/MaratSans-DemiBoldItalic.0107e6b1.otf)
    format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Marat Sans;
  src: url(https://play.hyper.space/_next/static/media/MaratSans-Bold.41dfa957.otf)
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Marat Sans;
  src: url(https://play.hyper.space/_next/static/media/MaratSans-BoldItalic.0ebda328.otf)
    format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Marat Sans;
  src: url(https://play.hyper.space/_next/static/media/MaratSans-ExtraBold.f925e48d.otf)
    format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Marat Sans;
  src: url(https://play.hyper.space/_next/static/media/MaratSans-ExtraBoldItalic.8855b1a1.otf)
    format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Marat Sans;
  src: url(https://play.hyper.space/_next/static/media/MaratSans-Black.af5f8364.otf)
    format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Marat Sans;
  src: url(https://play.hyper.space/_next/static/media/MaratSans-BlackItalic.9570298e.otf)
    format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: KaTeX_Fraktur;
  font-style: normal;
  font-weight: 400;
  src: url(https://play.hyper.space/_next/static/media/KaTeX_Fraktur-Regular.d3c882a6.woff2)
      format("woff2"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Fraktur-Regular.7c187121.woff)
      format("woff"),
    url(https://play.hyper.space/_next/static/media/KaTeX_Fraktur-Regular.ed38e79f.ttf)
      format("truetype");
}

body {
  font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-mono {
  font-family: Space Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}
.font-prose {
  font-family: Marat Sans, ui-sans-serif, system-ui, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.font-sans {
  font-family: Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

#sidebar {
  transition: all 0.3s ease;
  width: 360px;
}

#sidebar.sidebar-collapsed {
  width: 0;
  padding: 0;
  overflow: hidden;
}

#right-collapse {
  position: absolute;
  top: 16px;
  left: -24px;
  cursor: pointer;
  z-index: 10;
}

#right-collapse svg.rotate-180 {
  transform: rotate(180deg);
}

.scroll-container {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  gap: 15px;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#scroll-container::-webkit-scrollbar {
  display: none;
}

#scroll-container {
  scroll-behavior: smooth;
}

.scroll-container:active {
  cursor: grabbing;
}

/* Blurred effect on the body when popover is shown */
body.blurred {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

/* Popover animation (fade in) */
#popoverMenu {
  transform: translateY(-20px);
  transition: all 0.3s ease;
}

#popoverMenu:not(.hidden) {
  transform: translateY(0);
}

/* Overlay style (white background with opacity) */
#overlay {
  display: none;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* White background with opacity */
  position: fixed;
  inset: 0;
  z-index: 40;
  transition: all 0.3s ease;
}

/* Hide the overlay by default */
#overlay.hidden {
  display: none;
}
